[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
PyYaml = "*"
Click = "*"
pika = "*"
"flufl.bounce" = "*"
validate_email = "*"
tldextract = "*"
requests = "*"
cachecontrol = "*"
uritemplate = "*"
mock = "*"

[requires]
python_version = "3.6"
