[Unit]
Description=Bounced Email Service
After=multi-user.target

[Service]
Type=idle
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8
ExecStart=/usr/local/bin/bouncedemails run
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target