[Unit]
Description=Bounced Emails
Documentation=https://github.com/openHPI/bounced_emails
After=network.target
Wants=bouncedemails-run.service bouncedemails-smtp.service

[Service]
Type=oneshot
SyslogIdentifier=bouncedemails
WorkingDirectory={bounced_emails_path}
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=default.target